@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
* {
    box-sizing: border-box;
    font-family: raleway;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1.5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 1%;
}

.main-header {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/553dd069476919.5b830f3d47aeb.jpg");
    background-size: cover;
    background-color: hsla(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.band-name {
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 1.5em;
    border-radius: 50%;
}

.main-footer {
    clear: both;
    background-color: lightblue;
    color: white;
}

.main-footer-coontainer {
    display: flex;
    align-items: center;
}

.main-footer-coontainer ul {
    text-align: end;
    flex-grow: 1;
}

.btn {
    text-align: center;
    padding: 0.67em;
    cursor: pointer;
}

.btn-header {
    margin: 0.5em 15% 2em 15%;
    color: white;
    border: 1px solid #209CDB;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    font-size: 4em;
    border-radius: 50%;
    padding: 0%;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    border: none;
    color: white;
    background-color: #56ccf2;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2d9cdb;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.shop-item-image {
    height: 150px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.shop-item-price {
    flex: 1;
    padding: 5px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-row {
    display: flex;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.card-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-img {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
    ;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: rgb(204, 205, 206);
    color: #333;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.btn-danger {
    color: white;
    background-color: rgb(180, 45, 45);
    border: none;
    border-radius: .5em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: rgb(192, 34, 34);
}

.cart-total {
    text-align: end;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.2em;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-purchase {
    display: block;
    margin: 10px auto 80px auto;
    font-size: 1.7em;
}